.footer {
    height: 160px;
    font-size: smaller;
}
.footerContent {
    height: 80%;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
